body {
	background-color:	aquamarine;
	font-family:		Verdana, sanserif;
/*	width:				100%;*/
}

.columns td {
	padding:	50px;
}

#leftcolumn {
	border-right:	1px solid black;
/*	width:			500px;*/
}

.columns {
	border-collapse:	collapse;
}

#controls {
	line-height:	1.8em;
}

#newgame {
	-webkit-appearance:	button;
	font-family:	Verdana;
	font-size:		1em;
	border-radius:	5px;
	margin:	10px 20px;
	background-color:	White;
}

#customform {
	line-height:	1em;
	margin-top:		1em;
}

#customform td {
	padding:	0px 3px;
}

.noerror {
	visibility:		hidden;
}

.error {
	color:			Red;
}

.hidecustom {
	visibility:		hidden;
}

.showcustom {
	visibility:		visible;
}
/*
#bomberrormsg {
	width:			15em;
}
*/
