#grid {
	border-spacing:	0px;
	border: 3px solid gray;

}

#grid td {
	width:		16px;
	height:		16px;
	padding:	0px;
	border: 	0px;
}

.auto-margins {
	margin: auto auto auto auto 
}

.covered {
	background:	url("graphics/covered.gif") no-repeat center center;
}

.flag {
	background:	url("graphics/flag.gif") no-repeat center center;
}

.question {
	background:	url("graphics/question.gif") no-repeat center center;
}

.xb {
	background:	url("graphics/xb.gif") no-repeat center center;
}

.uxb {
	background:	url("graphics/uxb.gif") no-repeat center center;
}

.nb {
	background:	url("graphics/nb.gif") no-repeat center center;
}

.n0 {
	background:	url("graphics/n0.gif") no-repeat center center;
}

.n1 {
	background:	url("graphics/n1.gif") no-repeat center center;
}

.n2 {
	background:	url("graphics/n2.gif") no-repeat center center;
}

.n3 {
	background:	url("graphics/n3.gif") no-repeat center center;
}

.n4 {
	background:	url("graphics/n4.gif") no-repeat center center;
}

.n5 {
	background:	url("graphics/n5.gif") no-repeat center center;
}

.n6 {
	background:	url("graphics/n6.gif") no-repeat center center;
}

.n7 {
	background:	url("graphics/n7.gif") no-repeat center center;
}

.n8 {
	background:	url("graphics/n8.gif") no-repeat center center;
}

.neutral {
	background:	url("graphics/neutral.gif") no-repeat center center;
	width:		26px;
	height:		26px;
	padding:	0px;
	border: 	0px;
}

.readout {
	font-family:'digital_dream_fat_narrowRg', monospace;
	font-size:	18px;
	color:	#ff0000;
	text-align:			center;
	vertical-align:		-2.5px;
}

.blackbk {
	background-color:	black;
}

@font-face {
	font-family: 'digital_dream_fat_narrowRg';
	src: url('graphics/DIGITALDREAMFATNARROW-webfont.eot');
	src: url('graphics/DIGITALDREAMFATNARROW-webfont.eot?#iefix') format('embedded-opentype'),
		 url('graphics/DIGITALDREAMFATNARROW-webfont.woff') format('woff'),
		 url('graphics/DIGITALDREAMFATNARROW-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
